/* Dark theme */
:root {
	--radius: 6px;
	--grid-gap: 4px;
	--nav-height: 40px;

	--nav: #1b1b1d;
	--panel: #262628;
	--title: #ffffff;
	--text: #ffffff;
	--icon: #f1f1f1;
	--border: #42414d;
	--accent: #1a83ee;
	--hover: #34343a;
	--selected: #3a3943;
	--invalid: #6f3939;
	--shadow: none;
	--background: #404040;
}

/* Light Theme */
:root {
	--nav: #e7e7e7;
	--panel: #e2e2e2;
	--title: #000000;
	--text: #070707;
	--icon: #353535;
	--accent: #1a83ee;
	--border: #858585;
	--hover: #b5b5b5;
	--selected: #c5c5c5;
	--invalid: #ce7676;
	--shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	--background: rgb(255, 255, 255);
	scrollbar-width: thin;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--icon);
	overflow: hidden;
	font-weight: 200;
}

::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background: grey;
}
::-webkit-scrollbar-track {
	background: var(--panel);
}

.checkers {
	--checker-color-1: white;
	--checker-color-2: lightgrey;
	--checker-size: 8px;
	--checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 0%, transparent 75%, var(--checker-color-1) 75%);
	background-color: var(--checker-color-2);
	background-image: var(--checker-gradient), var(--checker-gradient);
	background-position: 0 0, var(--checker-size) var(--checker-size);
	background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}
